<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SysRoleDao" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.SysRole" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="available" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="role" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, available, description, role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.SysRole" >
    insert into sys_role (id, available, description, 
      role)
    values (#{id,jdbcType=INTEGER}, #{available,jdbcType=CHAR}, #{description,jdbcType=CHAR}, 
      #{role,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.SysRole" >
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="role != null" >
        role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="available != null" >
        #{available,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=CHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.SysRole" >
    update sys_role
    <set >
      <if test="available != null" >
        available = #{available,jdbcType=CHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=CHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.SysRole" >
    update sys_role
    set available = #{available,jdbcType=CHAR},
      description = #{description,jdbcType=CHAR},
      role = #{role,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>