<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.SysUserRoleDao" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.SysUserRole" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, uid
  </sql>

  <resultMap id="userRoleIdMap" type="com.example.demo.pojo.SysUserRole" >
      <id property="roleId" column="role_id" />
      <result property="uid" column="uid" />
    <!--collection关联查询-->
          <collection property="userIdList" ofType="com.example.demo.pojo.User">
               <id column="uid" property="uid" />
               <result column="userName" property="userName" />
               <result column="name" property="name" />
          </collection>
  </resultMap>
  <!--多对多查询-->
  <select id="findUserByRoleId" resultMap="userRoleIdMap"  parameterType="java.lang.Integer">
      select b.uid,b.username,b.name
       from sys_user_role a,user_info b
       where a.uid=b.uid and a.role_id=#{ roleId }
  </select>


  <select id="findRoleIdByUid"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
     select  <include refid="Base_Column_List" />
     from sys_user_role where uid=#{uid }
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.SysUserRole" >
    insert into sys_user_role (role_id, uid)
    values (#{roleId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.SysUserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.SysUserRole" >
    update sys_user_role
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.SysUserRole" >
    update sys_user_role
    set uid = #{uid,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>